<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="mitra">
  <div class="row">
    <div class="d-flex justify-content-start">
      <a th:href="@{/mitra-new}" class="btn btn-primary">Daftar Baru</a>
    </div>
    <div class="row g-5">
      <div class="col-12">
        <table id="myTable" class="table table-striped" style="width:100%">
          <thead>
          <tr>
            <th scope="col">Nama Mitra</th>
            <th scope="col">No Telp</th>
            <th scope="col">Alamat</th>
            <th scope="col">Email</th>
            <th scope="col">Tgl Join</th>
            <th scope="col">Aksi </th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>